body{
    background-color: #0078a3!important;
background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png")!important;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.heading{
    font-family: 'Cardo', serif;
    font-size: 60px;
    margin-top: 70px;
}

.para{
    font-family: 'Cardo', serif;
    font-size: 21px;
}
.fcont{
    margin-top: 70px;;
}

.form-control{
    height: calc(1.5em + 0.75rem + 14px)!important;
}

.btnf{
    background-color: #151617!important;
    border-color: #040404!important;
    margin-top: 40px;
}
.res{
    font-family: 'Cardo', serif;
    font-size: 39px;
    margin-top: 93px!important;
}
.result{
    background-color: rgb(245, 245, 245);
    height: 6vh;
    border-radius: 5px;
    font-family: 'Cardo', serif;
        font-size: 26px;
        justify-content: center;
        text-align: center;
    
}